
@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    
<script src="~/js/home-index.js"></script>
    }

<div ng-view>

</div>

@*@foreach (var topic in Model)
{
    <div>@topic.Title</div>
    <div>-- @topic.Body</div>
}*@
